<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Flask file uploads</h1>

    <form method='POST' enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>

    {% if file_info %}
        <h2>File Information:</h2>
        </br>
        <p>File has been uploaded. Path: {{ file_info.file_path }}, Result Text: {{ file_info.result_text }}</p>
    {% endif %}

</body>
</html>